.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: #f8f8f8;
  }
  
.header {
    background: #f8f8f8;
    padding:15px 0px;
}

.header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header .logo img {
    width: 80px;
    height: 80px;
    color: #ed8383;
}
a{
    text-decoration: none;
}
.title-logo {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ed8383;
    margin-top: 10px;
}

.subtitle-logo {
    text-decoration: none;
    font-size: 8px;
    font-weight: 500;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ed8383;
    margin-top: 5px;
}

.header .logo-1,
.header .logo-3 {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header .logo-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .fa-solid {
    font-size: 20px;
    color: #000;
}

.nav {
    transition: top 0.3s;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 15px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__list li a {
    text-decoration: none;
    color: #000;
    font-family: "Arial", sans-serif;
    font-size: 17px;
    font-weight: 500;
    transition: 0.5s;
}

.nav__list li a:hover {
    color: #ed8383;
    border-radius: 5px;
}

.search_container {
    display: flex;
    align-items: center;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    padding: 3px;
    background-color: white;
}

.search_container input,
.search_container button {
    border: none;
    background-color: transparent;
    outline: none;
}

.search_container button:hover {
    cursor: pointer;
}

.has-dropdown{
    position: relative;
}
.has-dropdown::after {
    position: absolute;
    content: "▼"; 
    font-size: 9px;
    margin-left: 5px;
    top: 6px;
    right: -16px;
}
.menu-toggle{
    display: none;
}
/*  Dropdown menu */
.has-dropdown {
    position: relative;
  }
  
  .has-dropdown a {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .has-dropdown .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    z-index: 1000;
    overflow: hidden;
    transform: translateY(15px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .has-dropdown .dropdown a {
    color: #333;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    transition: background 0.3s, color 0.3s;
    font-size: 15px;
  }
  
  .has-dropdown .dropdown a:hover {
    background: #ed8383;
    color: white;
  }

  .has-dropdown:hover .dropdown {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
  
  .has-dropdown i {
    font-size: 12px;
    transition: transform 0.3s;
  }
  
  .has-dropdown:hover i {
    transform: rotate(180deg);
  }
@media screen and (max-width: 850px) {
.screen.active{
    display: none;
}
.menu-toggle{
    display: inline;
    margin-left: 30px;
}
.nav{
    z-index: 1000;
    position: absolute;
    border-radius: 15px;
    background-color: white !important;
    width: 200px;
}
.nav__list{
    display: inline;
}
.nav__list li{
    margin: 10px;
    margin-left: 40px;
}
.has-dropdown::after{
    display: none;
}
.fa-solid.fa-store,.fa-solid.fa-search,.search_container{
    display: none;
}
}
@media screen and (max-width: 650px) {
    .fa-solid.fa-user{
        display: none;
    }
    .header .fa-solid {
        font-size: 15px;
        color: #000;
    }
}