
* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.wrapper {
  width: 100%;
  margin: 0;
}
/* slider */
.slider {
  position: relative;
  overflow: hidden;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  object-fit: cover;
  width: 100%;
  flex: 1 0 100%;
}
.slide img {
  object-fit: cover;
  width: 100%;
  display: block;
}
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}
.prev { left: 10px; }
.next { right: 10px; }

.dots-container {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #DCDCDC;
  cursor: pointer;
}

.dot.active {
  background-color: #A9A9A9;
}
/* phần dùng chung */
.container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 40px 0;
}

.btn {
  background: #ed8383;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}

.btn:hover {
  background: #ec6c61;
}
/* BST */
.container .content-1 h2,.content-2 h2,.content-4 h2{
  font-size: 30px;
  color: #ed8383;
  margin-bottom: 20px;
  margin-top: 100px;
}
.content-1 .container.collection {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.content-1 .product {
  position: relative;
  cursor: pointer;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding:0px 20px;
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease;
}

.content-1 .product:hover {
  transform: scale(1.04);
}

.content-1 .product img {
  width: 100%;
  border-radius: 10px;
}

.content-1 .product h4 {
  font-size: 15px;
  color: #808080;
  margin: 10px 0;
}

.content-1 .price {
  margin:0px;
  font-size: 20px;
  font-weight: bold;
  color: #d19c00;
}

.content-1 .promo {
  font-size: 13px;
  color: #888;
  margin-bottom: 50px;
}

.quantity{
  bottom:0;
  right: 0;
  margin: 10px;
  position: absolute;
  font-size: 11px;
  color: #C0C0C0;
}

/* content-2 */
.directory_list{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.content-2 .directory p{
  margin-top: 0;
  font-weight: 700;
  color: #666262;
}
.content-2 .directory .img{
  position: relative; 
  height: 200px;
  width: 200px;
  overflow: hidden;
} 
.content-2 .directory img{
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 15px;
}

.content-2 .directory .img::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.1) 70%);
  transform: skewX(-25deg);
}

.content-2 .directory .img:hover::before {
  left: 120%;
  transition: left 0.9s ease-in-out;
}

.directory h4 {
  font-size: 18px;
  font-weight: bold;
  color: #333; 
  display: block; 
}

/*content-3 gallery */
.content-3{
  display: flex;
  align-items: center;
}
.gallery{
  position: relative;
  width: 100%;
}
.gallery-container{
  align-items: center;
  display: flex;
  height: 400px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}
.gallery-item{
  height: 230px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 230px;
  z-index: 0;
  border-radius: 15px;
  background-size:contain ;
}
.gallery-item-1{
  left: 15%;
  opacity: .4;
  transform: translateX(-50%);
}
.gallery-item-2, .gallery-item-4{
  height: 270px;
  opacity: 0.8;
  width: 270px;
  z-index: 1;
}
.gallery-item-2{
  left: 30%;
  transform: translateX(-50%);
}
.gallery-item-3{
  box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
  height: 350px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  z-index: 2;
}
.gallery-item-4{
  left: 70%;
  transform: translateX(-50%);
}
.gallery-item-5{  
  left: 85%;
  opacity: .4;
  transform: translateX(-50%);
}
.gallery-controls{
  display: flex;
  justify-content: center;
  margin: 25px 0;  
}
.gallery-controls button{
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 30px;
  margin: 0 50px;
  padding: 0 12px;
  text-transform: capitalize;
}
.gallery-controls-button:focus{
  outline: none;
}
.gallery-controls-previous::before{
  border: solid #ccc;
  border-width:0 5px 5px 0;
  content: '';
  display: inline-block;
  height: 5px;
  padding: 10px;
  position: absolute;
  left: 8px;
  top: 36%;
  transform: rotate(135deg) translateY(-50%);
  transition: 0.3s;
  width: 5px;
}

.gallery-controls-previous:hover::before,.gallery-controls-next:hover::before{
  border: solid #808080;
  border-width:0 5px 5px 0;
}

.gallery-controls-next::before{
  border: solid #ccc;
  border-width: 0 5px 5px 0;
  content:'';
  display: inline-block;
  height: 5px;
  padding: 10px;
  position: absolute;
  right: 8px;
  top: 36%;
  transform: rotate(-45deg) translateY(-50%);
  transition: 0.3s;
  width: 5px;
}
.gallery-nav{
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}
.gallery nav li{
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}
.gallery-nav li.gallery-item-selected{
  background:#555;
}
/* Content-4 */
.content-4{
  position: relative;
}
.content-4-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  height: 480px;
}

.content-4 .gold-price {
  position: relative;
  width: 41%;
  height: 100%;
}
.gold-price img{
  height: 100%;
}

.gold-price img {
  width: 100%;
}

.jewelry-news {
  height: 100%;
  display: flex;
  width: 57%;
  gap: 20px;
}

.news-item {
  text-align: center;
  width: 49.5%;
  position: relative;
}
.news-item img {
  width: 100%;
  border-radius: 5px;
}

.news-item h3 {
  text-align: right;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
  margin: 10px 0;
}

.news-item p {
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  color: #666;
}

.news-item a {
  bottom: 85px;
  left: 0;
  position: absolute;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.view-all {
  right: 283px;
  bottom: -5px;
  position: absolute;
  text-align: center;
  margin: 20px 0;
}

.btn_content-4 {
  background-color: #cbcbcb;
}
.btn_content-4:hover {
  background-color: #888;
}


/* detail product */
.container_product {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}
.describe {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}
.describe .product-image {
  flex: 1;
  margin-right: 20px;
}
.describe .product-image img {
  max-width: 100%;
  height: auto;
}
.product-title-detail,.describe .price{
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #888;
}
.rating i{
  color: rgb(255 193 7 );
}
.price .Installment{
  display: flex;
  align-items: center;
  color:#333;
}
.price .Installment img{
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
.describe .product-details {
  flex: 1;
}
.describe .product-title {
  font-size: 1.5em;
  margin-bottom: 5px;
}
.describe .product-code {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;
}
.describe .product-price {
  font-size: 20px;
  font-weight: bold;
  color: #d00;
  margin-bottom: 15px;
}
.describe .product-size {
  margin-bottom: 20px;
}
.describe .product-size label {
  display: block;
  margin-bottom: 5px;
}
.describe .product-size select {
  padding: 8px;
  width: 100px;
}
.describe .product-buttons {
  display: flex;
  justify-content: space-between;
}
.describe .product-buttons button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.describe .buy-button {
  background-color: #d00;
  color: white;
}
.describe .cart-button {
  background-color: #f0f0f0;
}

