*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    text-decoration: none;
}
.admin-header {
    margin: 16px 26px 0 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(100% - 302px);
    left: 250px;
    top: 0;
    position: relative;
    border-radius: 6px;
}

.search-bar input {
    padding: 8px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
/* ================================================================= */


.title-logo {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ed8383;
    margin-top: 10px;
}
.logo-content{
    margin-left: 5px;
}
.subtitle-logo {
    text-decoration: none;
    font-size: 8px;
    font-weight: 500;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ed8383;
    margin-top: 5px;
}
.logo-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-menu {
    background-color: white;
    width: 250px;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1100;
}

.admin-menu ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.admin-menu ul li {
    width: 100%;
    margin: 10px 0;
}

.admin-menu ul li a,.user-info a{
    color: #333;
    text-decoration: none;
    display: block;
    padding: 12px;
    font-size: 16px;
    transition: background 0.3s;
    margin: 0 13px;
}
.admin-menu ul li a i{
    margin-left : 26px;
    margin-right: 22px;
}
.user-info i{
    margin-right: 5px;
}
.admin-menu ul li a.active {
    background: rgb(255, 243, 243);
    color: #d56565;
    border-radius: 5px;
}
.admin-menu ul li a:hover{
    background-color: #f5f5f5;
}
/* ====================================================== */
.main{
    background-color: white;
    position: relative;
    margin: 24px 26px 24px 24px;
    top: 0px;
    left: 250px;
    right: 0;
    width: calc(100% - 302px);
    border-radius: 6px;
    padding: 20px;
}
/* ==================================================== */
.admin-footer {
    color: rgb(163, 163, 163);
    text-align: center;
    padding: 20px 0;
    width: calc(100% - 250px);
    left: 250px;
    position: relative;
    margin-top: auto;
}
/*===================================================================== page_category */
/* create */
.create_container{
    color: #4e4e4e;
    padding: 20px;
}
.create_container table {
    overflow: hidden;
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}
.create_container th, td {
    padding: 10px;
    border: 1px solid #ddd;
}
.create_container th {
    background-color: #f4f4f4;
}
.create_container input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.create_container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 160, 160);
    color: white;
    border: none;
    cursor: pointer;
}
.create_container input[type="submit"]:hover {
    background-color: rgb(255, 141, 141);
}
/* list */
.list_container {
    width: 100%;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h2 {
    text-align: left;
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

th, td {
    padding:5px 15px;
    text-align: left;
}

th {
    background: #f5f5f5;
    font-weight: bold;
    color: #333;
    border-left:none;
    border-right:none;
}

td {
    border-bottom: 1px solid #ddd;
    border-left:none;
    border-right:none;
}

td img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

td a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}

tr:hover {
    background: #f9f9f9;
}

tbody tr:first-child th{
    padding: 10px 15px;
}

@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
